.success-btn {
    list-style: none;
    background-color: #a5c422;
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: 4px;
}

.success-btn a {
    scroll-behavior: smooth;
    color: #fff;
}

.team-info h5 {
    color: rgb(110, 110, 110);
}

.formulariopiola {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.doctorwapo {
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    .doctorwapo {
        display: none;
    }
    .formulariopiola {
        display: block;
    }
}